body { margin: 0; padding-top: 800px; text-align: center; }
.profile { border-radius: 50%; }
#welcome { position: absolute; bottom: 0; background: linear-gradient(#60ebeb 0%, #27ae60 100%); display: table; width: 100%; height: 100%; }
h1 { font-size: 40px; font-family: sans-serif; font-weight: 300; }
#name { font-size: 50px;font-family: 'Rubik Marker Hatch', cursive; }
h2 { font-size: 30px; font-weight: 300; font-family: monospace; }
#bio { font-family: cursive; padding: 50px; }
.line { height: 6px; background-color: #000; width: 70px; margin: 8px auto; }
.parallax-inner { display: table-cell; vertical-align: middle; }
.menu{list-style: none;position: fixed;top:10px;z-index:10;right: 30px;cursor: pointer;width: 100%;background-color: white;}
.links{float:left ;padding-left: 50px;font-size:70px;font-family: Georgia, 'Times New Roman', Times, serifs;display: inline;
}
.links:hover { font-size: 100px; text-decoration: underline; }#trabajo a { text-decoration: underline !important; color: green !important; }
#contact{ background:rgb(70, 68, 68); }
#contact iframe{width: 100%;}
.contact_1 h3{display: inline;}